/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Gill Sans Ultra;
    font-weight: bold;
}

p {
    font-family: Garamond;
}
/* screen overlay when prompt for Login*//*
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.loginDiv {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: white;
    border-radius: 10px;
    z-index: 11;
}
*/
#login {
    background: url('../images/fb_login_button.png') no-repeat;
    outline: none;
    border: none;
    /*position: absolute;*/
    border-radius: 10px;
    left: 18%;
    top: 40%;
    width: 202px;
    height: 42px;
}

#logout {
    display: none;
    background: url('../images/fb_logout_button.png') no-repeat;
    outline: none;
    border: none;
    /*position: absolute;*/
    border-radius: 10px;
    left: 18%;
    top: 40%;
    width: 202px;
    height: 42px;
}

.welcomePage {
    padding: 10% 20%;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcomePage h1 {
    width: 100%;
    padding: 0 0 25px 0;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #c8c8c8;
    border-bottom-width: 5px;
    border-bottom-color: rgba(255, 171, 15, 1);
    background-color: yellow;
}

div #profilePic {
    width: 35px;
    height: 35px;
}

.toggle_createEvent_sideBar_btn {

}

.toggle_createEvent_sideBar_btn:hover {

}


.main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 20px;
}

.lat, .lgt {
    display: none;
}

.createEventSideBar {

}

.mapContainer {
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
    height: 90vh;
    min-height: 50vh;
}

#map {
    height: 100%;
    width: 100%;
}
img{
    height: 150px;
    width: 150px;
}

/*CreateEventForm*/
.createEventForm, .viewEventForm {
    border: 1px solid #c8c8c8;
    padding: 10px;
}

.createEventForm h3,
.viewEventForm h3 {
    padding: 5px 0 5px 0;
}

.createEventForm input {
    border-radius: 3px;
    border: 0.5px solid #c8c8c8;
    padding: 3px 2px;
}

.createEventForm textarea {
    border-radius: 3px;
    border: 0.5px solid #c8c8c8;
    resize: none;
    padding: 3px 2px;
}

.createEventForm span {
    color: red;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

div.error {
    color: red;
}